.btn-light{
    background-color: #ff6b35;
}

.btn-outline-secondary{
    border: 1px solid #ff6b35;
    color: black;
}

.des {
    color: #ff6b35;
}

.footer {
    background-color: #000;
    /* color: #fff; */
}

