.btn-light{
    background-color: #ff6b35;
}

.btn-outline-secondary{
    border: 1px solid #ff6b35;
    color: black;
}

.des {
    color: #ff6b35;
}

span {
    color: #ff6b35;
}

.test button {
    border: 0;
}

.logo {
    font-weight: bold;
}

footer {
    background-color: #000;
    color: #ff6b35;
}

.footer .logo a {
    color: #fdf6e4;
}

.text-body-primary {
    color: #fdf6e4;
}

